---
title: Vanessa Sickles
pageTitle: Portfolio
style: index
script: index
blurb: A people-first, multi-discipline software engineer with a keen design sense and a passion for developing responsive, accessible, and scalable user interfaces.
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - {{ pageTitle }}</title>
    <meta property="og:title" content="{{ title }} - {{ pageTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vanessasickles.dev{{ page.url }}" />
    <meta property="og:description" content="{{ blurb | escape }}">
    <meta property="og:image" content="https://vanessasickles.dev/assets/images/website-preview.png" />

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon-192.png">

    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/{{ style }}.css">
</head>
<body class="{{ style }}">
    {{ content }}
    {% if script %}
        <script src="/assets/js/{{ script }}.js" type="module"></script>
    {% endif %}
</body>
</html>