---
layout: layouts/base.html
style: post
script: post
---
<div class="sidebar-column">
    <a href="/" class="text-xl inline-block mb-6">
        back to <span class="font-black"><span class="text-blue">vanessasickles</span>.dev</span>
    </a>

    <h1>{{ fullTitle }}</h1>
    <div class="mt-4">
        <p class="mb-4 text-lg">{{ blurb }}</p>
        <a href="{{ githubUrl }}" class="linkout" target="_blank">{% icon "github" %} See the code on GitHub</a>
    </div>

    <div class="technologies-used mt-8">
        <h2 class="mt-8 mb-2">Created with...</h2>
        <div class="box">
            <ul>
            {%- for item in tech -%}
                <li>{{ item }}</li>
            {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
<aside class="table-of-contents-column">
    <h2>Jump to...</h2>
    <div class="box mt-2">
        {{ content | toc }}
    </div>
</aside>
<main class="content">
    {{ content }}
</main>