---
layout: layouts/base.html
style: post
script: post
---
<div id="top" class="sidebar-column">
    <div id="scroll-group">
        <a href="/" class="text-xl inline-block mb-6 dark:text-white dark:hover:text-white animate-fade-in">
            <span class="text-blue text-blue-dark inline-block mr-1 font-black">‹</span> back to <span class="font-black"><span class="text-blue dark:text-dark-blue">vanessasickles</span>.dev</span>
        </a>
        <a class="linkout skiplink" href="#tech-used">Skip to tech used for this project</a>
        <a class="linkout skiplink" href="#toc">Skip to table of contents for this project</a>
        <a class="linkout skiplink" href="#main-content">Skip to main content</a>
        <h1 class="animate-fade-in delay-1">{{ fullTitle }}</h1>
        <div class="mt-4 animate-fade-in delay-1">
            <div class="mb-4 text-lg content">
                {{ blurb | markdownify }}
            </div>
            {% if githubUrl or liveUrl %}
                <div class="flex flex-wrap items-center gap-2">
                    {% if githubUrl %}
                        <a href="{{ githubUrl }}" class="linkout" target="_blank">{% icon "github" %} See the code on GitHub</a>
                    {% endif %}
                    {% if liveUrl %}
                        <a href="{{ liveUrl }}" class="linkout" target="_blank">{% icon "external" %} Check this project out live!</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="hidden xl:block my-8 animate-fade-in delay-1">
            {% include "partials/footer.html" %}
        </div>
    </div>

    <div id="tech-used" class="technologies-used my-8">
        <h2 class="mt-8 mb-2 animate-fade-in delay-2">Created with...</h2>
        <div class="box animate-fade-in delay-2">
            <ul>
            {%- for item in tech -%}
                <li>{{ item }}</li>
            {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
<a class="linkout skiplink" href="#main-content">Skip the table of contents and go to main content</a>
<aside id="toc" class="table-of-contents-column animate-fade-in delay-4">
    <h2>Jump to...</h2>
    <div class="box mt-2">
        {{ content | toc }}
    </div>
</aside>
<main id="main-content" class="content animate-fade-in delay-3">
    {{ content }}
</main>
<div class="back-to-top-wrap fixed left-2 md:left-4 bottom-0 font-bold text-xl bg-white dark:bg-black border-blue border-2 z-30 py-1 px-4 rounded-full">
    <a id="back-to-top" href="#top">
    <i class="mr-2 arrow up"></i> back to top
</a>
</div>

<div class="block xl:hidden my-16">
    {% include "partials/footer.html" %}
</div>
