@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* To-do: remove unused font weights */


@theme {
    --color-blue: #11A9F9;
    --color-dark: #212121;
    --color-dark-100: #262626;
    --color-medium: #333333;
    --color-light: #464B50;
    --color-white: #F9F9F9;

    --font-sans: 'Noto Sans';
    --font-serif: 'Antic Didone';
    --font-display: 'Raleway';
}

@layer components {
    .btn-primary {
        @apply inline-block relative border-blue text-white font-semibold hover:text-dark border-1 border-solid px-6 py-2 motion-safe:transition bg-no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(var(--color-blue));
        transition: background 0.25s, color 0.15s;

        &:hover {
            background-size: 100% 100%;
        }
    }
}

body {
    @apply text-white bg-dark font-sans font-light leading-relaxed border-t-8 border-t-blue;
}

b {
    @apply font-black text-blue;
}

a:not(.btn) {
    @apply relative;

    &::after {
        @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-blue;
        transition: width 0.25s;
        content: '';
    }

    &:hover::after {
        @apply w-full;
        transition: width 0.25s;
    }
}

.btn-primary:has(.icon) {
    @apply inline-flex items-center pl-4;
}

.btn + .btn {
    @apply ml-3;
}

p + p {
    @apply mt-3;
}

.icon {
    max-height: 16px;
}

.container {
    @apply relative w-full px-6 m-auto;
    max-width: 1200px;

    @variant md {
        @apply px-12;
    }

    @variant lg {
        @apply px-24;
    }
}

.top-nav.container {
    @apply z-10 fixed top-8 -left-8 -right-6 flex justify-stretch;
    max-width: calc(1200px + 4rem);

    nav {
        @apply w-full py-3 px-6 flex items-center justify-between shadow-lg rounded-full bg-dark-100;
    }

    ul {
        @apply flex gap-4 font-normal;
    }
}

details {
    @apply shadow-lg bg-dark-100 text-white mb-2;

    &[open] {
        @apply pb-2;

        summary {
            @apply mb-2;

            &::after {
                content: '-';
            }
        }
    }

    summary {
        @apply flex items-center justify-between list-none bg-dark text-white font-semibold px-3 py-2 cursor-pointer border-l-4 border-l-blue hover:bg-dark-100 transition;

        &::marker {
            @apply hidden;
        }

        &::after {
            @apply font-bold text-lg;
            content: '+';
        }
    }

    p {
        @apply px-6;
    }
}

h1 {
    @apply text-6xl text-blue font-serif tracking-wide font-black mb-2;
}

h2 {
    @apply text-5xl text-blue font-serif tracking-wide font-black mb-2;
}

h3 {
    @apply text-3xl text-white font-serif tracking-wide font-black mb-2;
}

.box-list {
    @apply flex gap-4 flex-wrap mb-2;

    li {
        @apply py-6 px-4 bg-dark border-blue border-l-4 flex-grow leading-tight;
        flex-basis: calc(25% - 1rem);
    }
}