@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
/* To-do: remove unused font weights */
/* To-do: dark mode that respects user system preference */


@theme {
    --color-blue: #0e75c1;
    --color-blue-tint: #BDE4FF;
    --color-white: #f7faee;
    --color-black: #1d3557;
    --color-black-tint: #90939A;

    --font-sans: "Merriweather Sans", sans-serif;

    --default-transition-duration: 0.15s;
}

body {
    @apply bg-white p-8 font-sans text-black w-full;

    &.index {
        @apply gap-8;

        @variant xl {
            @apply grid;
            grid-template-columns: 25% calc(75% - 2rem);
            grid-template-rows: auto;
            grid-template-areas:
                "sidebar main";
        }

        @variant 2xl {
            grid-template-columns: 20% calc(80% - 2rem);
        }
    }
}

.sidebar-column {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.logo {
    @apply text-7xl font-black leading-none;
}

.box {
    @apply border-2 border-black-tint p-6;

    @variant md {
        @apply p-8;
    }

    & + .box {
        @apply mt-8;
    }
}

b {
    @apply text-blue font-black;
}

.linkout {
    @apply inline-flex items-center relative !ml-0 pl-2 pr-3 py-1 mx-1 gap-x-1.5 bg-blue-tint border-blue border-1 rounded lowercase cursor-pointer font-semibold transition;

    &:hover {
        @apply bg-blue text-blue-tint transition;

        .icon path {
            @apply fill-blue-tint transition;
        }
    }

    .icon {
        @apply h-5 transition;

        path {
            @apply fill-black transition;
        }
    }
}

.content {
    @apply leading-relaxed text-lg;

    h1, h2, h3, h4, h5, h6 {
        @apply mt-6 mb-1;
    }

    h1, h2, h3 {
        @apply font-black lowercase;
    }

    h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    p {
        @apply mb-4;
    }

    ul {
        @apply list-disc pl-5 mb-4;

        li {
            @apply mb-2;
        }
    }

    strong {
        @apply font-black text-blue;
    }

    code {
        @apply inline-block py-0 px-2 mx-1 bg-blue-tint border-blue border-1 rounded;
    }
}