@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
/* To-do: remove unused font weights */
/* To-do: dark mode that respects user system preference */


@theme {
    --color-blue: #0e75c1;
    --color-white: #f7faee;
    --color-black: #1d3557;
    --color-black-tint: #90939A;

    --font-sans: "Merriweather Sans", sans-serif;

    --default-transition-duration: 0.15s;
}

@layer components {
    /* .btn-primary {
        @apply inline-block relative border-blue text-white font-semibold hover:text-dark border-1 border-solid px-6 py-2 motion-safe:transition bg-no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(var(--color-blue));
        transition: background 0.25s, color 0.15s;

        &:hover {
            background-size: 100% 100%;
        }
    } */
}

body {
    @apply bg-white p-8 gap-8 font-sans text-black w-full;

    @variant xl {
        @apply grid;
        grid-template-columns: 25% calc(75% - 2rem);
        grid-template-rows: auto;
        grid-template-areas:
            "sidebar main";
    }

    @variant 2xl {
        @apply grid;
        grid-template-columns: 20% calc(80% - 2rem);
    }
}

.sidebar-column {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.logo {
    @apply text-7xl font-black leading-none;
}

.box {
    @apply border-2 border-black-tint p-6;

    @variant md {
        @apply p-8;
    }

    & + .box {
        @apply mt-8;
    }
}

.icon {
    @apply w-8 h-8;

    path {
        @apply !fill-black transition;
    }
}

b {
    @apply text-blue font-black;
}

a {
    @apply transition;

    &:hover {
        @apply text-blue transition;

        .icon path {
            @apply !fill-blue transition;
        }
    }
}

h2 {
    @apply text-4xl font-black lowercase;
}