@import "tailwindcss";
/* To-do: remove unused font weights */

@theme {
    --color-dark-blue: #1eb4ff;
    --color-blue: #0e75c1;
    --color-blue-tint: #BDE4FF;
    --color-white: #f7faee;
    --color-black: #1d3557;
    --color-black-tint: #90939A;
    --color-highlight: #ffe8a1;
    --color-dark-highlight: #665d0d;

    --font-sans: "Merriweather Sans", sans-serif;

    --default-transition-duration: 0.15s;
}

@utility standard-link {
    @apply text-blue dark:text-dark-blue transition relative inline underline;

    &:hover,
    &:focus {
        @apply dark:text-white transition;
    }
}

@utility box-header {
    @apply text-4xl font-black lowercase dark:text-white;
}

html {
    @apply scroll-smooth scroll-p-8;
}

body {
    @apply bg-white p-4 font-sans text-black w-full dark:bg-black dark:text-blue-tint;

    @variant xl {
        @apply p-6;
    }

    @variant 2xl {
        @apply p-8;
    }

    &.index {
        @apply gap-8;

        @variant xl {
            @apply grid;
            grid-template-columns: 30% calc(70% - 2rem);
            grid-auto-rows: min-content;
            grid-template-areas:
                "sidebar main";
        }

        @variant 2xl {
            grid-template-columns: 25% calc(75% - 2rem);
        }
    }
}

.sidebar-column {
    grid-area: sidebar;
}

main {
    grid-area: main;
}

.logo {
    @apply text-7xl font-black leading-none;
}

.box {
    @apply border-2 border-black-tint dark:border-blue-tint p-4;

    @variant md {
        @apply p-6;
    }

    & + .box {
        @apply mt-8;
    }
}

b {
    @apply text-blue dark:text-dark-blue font-black;
}

.icon {
    @apply w-6 h-6;
}

.linkout {
    @apply text-xl inline-flex items-center relative !ml-0 pl-2 pr-3 py-1 mx-1 gap-x-1.5 bg-blue-tint border-blue text-black dark:bg-white border-1 rounded lowercase cursor-pointer font-semibold transition;

    &:hover {
        @apply bg-blue text-white transition;

        .icon {
            path {
                @apply fill-white transition;
            }

            &.icon-external path {
                @apply fill-transparent stroke-white transition;
            }
        }
    }

    .icon {
        @apply h-5 transition;

        path {
            @apply fill-black transition;
        }

        &.icon-external path {
            @apply fill-transparent stroke-black transition;
        }
    }
}

.content {
    @apply leading-relaxed text-lg;

    h1, h2, h3, h4, h5, h6 {
        @apply mt-8 mb-2;
    }

    h1, h2, h3 {
        @apply mt-8 font-black lowercase dark:text-white;
    }

    h4, h5, h6 {
        @apply font-bold dark:text-blue-tint;
    }

    h2 {
        @apply pb-1 mt-16 mb-6 text-5xl relative z-1;
    }

    h3 {
        @apply text-4xl;

        &::before {
            @apply text-blue dark:text-dark-blue mr-2;
            content: '>';
        }
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

    a {
        @apply standard-link;
    }

    p {
        @apply mb-4;
    }

    ul {
        @apply list-disc pl-5 mb-4;

        li {
            @apply mb-2;
        }
    }

    strong {
        @apply font-black text-blue dark:text-dark-blue;
    }

    code:not(pre code) {
        @apply inline-block py-0 px-2 mx-1 bg-blue-tint border-blue dark:text-black border-1 rounded;
    }

    pre:has(code) {
        @apply mb-8;
    }

    figure {
        @apply my-6;

        img {
            @apply border-black-tint border-2;
        }

        figcaption {
            @apply text-base text-center mt-4 italic;
        }
    }
}

.skiplink {
    @apply absolute top-4 w-0.5 h-0.5 z-1 overflow-hidden text-2xl z-50;
    left: -10000px;

    &:focus {
        @apply absolute left-4 w-auto h-auto;
    }
}