@import "./base.css";

#technologies-list {
    @apply flex flex-wrap gap-x-12 gap-y-2;

    li button {
        @apply text-5xl font-black lowercase cursor-pointer relative text-left;

        @variant xl {
            @apply text-4xl;
        }

        @variant 2xl {
            @apply text-5xl;
        }

        &:hover {
            @apply text-blue dark:text-dark-blue;
        }
    }
}

.project-wrap {
    .name {
        @apply text-6xl font-black lowercase relative dark:text-white;
    }

    .tech-used {
        @apply flex flex-wrap gap-x-3 gap-y-2 mt-2 text-xl lowercase;
    }

    & + .project-wrap {
        @apply mt-8;
    }

    .links {
        @apply mt-2;
    }
}

.experience {
    .workplace {
        & + .workplace {
            @apply mt-8;
        }

        h3 {
            @apply box-header dark:text-white;
        }
    }

    .work-description {
        @apply flex flex-wrap gap-x-8 gap-y-1 mt-2 text-xl lowercase;
    }

    .work-data {
        @apply flex gap-2 flex-wrap lowercase;
    }
}

h2 {
    @apply box-header;
}

.linkout {
    @apply bg-transparent text-black dark:text-white;

    &:hover {
        @apply bg-blue text-white transition;

        .icon {
            path {
                @apply fill-white transition;
            }

            &.icon-external path {
                @apply fill-transparent stroke-white transition;
            }
        }
    }

    .icon {
        @apply h-5 transition;

        path {
            @apply fill-black dark:fill-white transition;
        }

        &.icon-external path {
            @apply fill-transparent stroke-black dark:stroke-white transition;
        }
    }
}

#technology-instructions {
    @apply absolute right-4 -top-20 flex items-start -rotate-5 text-2xl z-10 text-shadow-2xs dark:text-white font-black leading-tight;

    @variant xl {
        @apply -right-70 -top-20;
    }

    .text {
        @apply px-4 pb-5;
    }

    .icon-arrow-arch {
        @apply rotate-160 w-30 h-30 mr-2;

        path {
            @apply fill-blue dark:fill-dark-blue;
        }
    }
}