@import "./base.css";

.intro .links {
    @apply flex gap-2 mt-4 mb-12;

    path {
        @apply fill-blue dark:fill-blue-tint;
    }
}

#technologies-list {
    @apply flex flex-wrap gap-x-12 gap-y-2;

    li button {
        @apply text-5xl font-black lowercase cursor-pointer relative text-left;

        @variant xl {
            @apply text-4xl;
        }

        @variant 2xl {
            @apply text-5xl;
        }

        &:hover {
            @apply text-blue dark:text-dark-blue;
        }
    }
}

.project-wrap {
    .name {
        @apply text-5xl font-black lowercase relative dark:text-white;
    }

    .tech-used {
        @apply flex flex-wrap gap-x-3 gap-y-2 mt-2 text-xl lowercase;
    }

    & + .project-wrap {
        @apply mt-8;
    }
}

.experience {
    .workplace {
        & + .workplace {
            @apply mt-8;
        }

        h3 {
            @apply box-header dark:text-white;
        }
    }

    .work-description {
        @apply flex flex-wrap gap-x-8 gap-y-1 mt-2 text-xl lowercase;
    }

    .work-data {
        @apply flex gap-2 flex-wrap lowercase;
    }
}

h2 {
    @apply box-header;
}