@import "./base.css";

.intro .links {
    @apply flex gap-2 mt-4 mb-12;
}

#technologies-list {
    @apply flex flex-wrap gap-x-12 gap-y-2;

    li button {
        @apply text-5xl font-black lowercase cursor-pointer relative;

        &:hover {
            @apply text-blue;
        }
    }
}

.project {
    .name {
        @apply text-5xl font-black lowercase;
    }

    .tech-used {
        @apply flex gap-x-3 gap-y-2 mt-2 text-xl lowercase;
    }

    & + .project {
        @apply mt-8;
    }
}

.experience {
    .workplace {
        & + .workplace {
            @apply mt-8;
        }

        h3 {
            @apply text-4xl font-black lowercase;
        }
    }

    .work-description {
        @apply flex flex-wrap gap-x-3 gap-y-2 mt-2 text-xl lowercase;
    }

    .work-data {
        @apply flex gap-2 flex-wrap lowercase;
    }
}