@import "./base.css";
@import "./prism.css";

body.post {
    @apply gap-8 m-auto;
    max-width: 800px;

    @variant xl {
        @apply grid max-w-full items-start;
        grid-template-columns: calc(45% - 2rem) calc(55% - 2rem);
        grid-auto-rows: min-content;
        grid-template-areas:
            "sidebar toc toc"
            "sidebar main main";
    }

    @variant 2xl {
        grid-template-columns: 30% minmax(calc(40% - 2rem), 800px) calc(30% - 2rem);
        grid-template-areas:
            "sidebar main toc";
    }
}

.table-of-contents-column {
    @apply my-12 lowercase;
    grid-area: toc;

    @variant 2xl {
        @apply mt-12 sticky top-20 h-min;
    }

    ol {
        @apply pl-4;
    }

    a {
        @apply standard-link;
    }

    .box {
        @apply py-6 px-12;
    }

    .table-of-contents > ol {
        @apply text-2xl font-bold leading-relaxed;
        list-style-type: upper-roman;

        > li:not(:last-of-type) {
            @apply mb-2;
        }

        ol {
            @apply pl-12 text-xl font-normal;
            list-style-type: lower-roman;

            li {
                @apply mb-1;
            }
        }
    }
}

h1 {
    @apply text-6xl box-header;
}

h2 {
    @apply text-5xl box-header;
}

.technologies-used {
    ul {
        @apply flex flex-wrap gap-x-12 gap-y-2;

        @variant xl {
            @apply block;
        }
    }
    
    li {
        @apply text-5xl font-black lowercase relative text-left;

        @variant xl {
            @apply text-4xl mb-2;
        }

        @variant 2xl {
            @apply text-5xl;
        }
    }
}

.back-to-top-wrap {
    transform: translateY(100%);

    &.slide-in {
        @apply mb-2;
    }
}

.top-fixed {
    @apply fixed top-4;
}

#scroll-group.top-fixed {
    @variant xl {
        max-width: calc(45% - 2rem);
    }

    @variant 2xl {
        max-width: 30%;
    }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.slide-in {
    animation: 0.25s 1 normal forwards slide-in;
}

.slide-out {
    animation: 0.25s 1 normal forwards slide-out;
}


@keyframes slide-in-top {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.slide-in-top {
    animation: 0.5s 1 normal forwards slide-in-top;
}
