---
layout: layouts/base.html
---

<a class="linkout skiplink" href="#main-content">Skip to Vanessa's tech stack</a>
<a class="linkout skiplink" href="#main-content">Skip to Projects</a>

{% include "partials/sidebar.html" %}

<main id="main-content">
    <section class="projects mb-8 mt-8 xl:mb-12 xl:mt-0">
        <h2 class="mb-2 animate-fade-in delay-3">Projects</h2>
        <div class="box animate-fade-in delay-3">
            {%- for project in collections.project -%}
            <div class="project-wrap">
                <article class="project" data-name="{{ project.data.pageTitle | classify }}" data-tech="{{ project.data.tech | arrayCommaJoin }}">
                    <a class="name" href="{{ project.url }}">{{ project.data.pageTitle }}</a>
                    <ul class="tech-used">
                        {%- for tech in project.data.tech -%}
                            <li class="{{ tech }}">{{ tech }}</li>
                        {%- endfor -%}
                    </ul>

                    {% if project.data.githubUrl or project.data.liveUrl %}
                        <div class="links flex flex-wrap items-center gap-2">
                            {% if project.data.githubUrl %}
                                <a href="{{ project.data.githubUrl }}" class="linkout" target="_blank">{% icon "github" %} Code</a>
                            {% endif %}
                            {% if project.data.liveUrl %}
                                <a href="{{ project.data.liveUrl }}" class="linkout" target="_blank">{% icon "external" %} Live demo</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </article>
            </div>
            {%- endfor -%}
        </div>
    </section>

    <section class="experience">
        <h2 class="mb-2 animate-fade-in delay-4">Experience</h2>
        <ul class="box animate-fade-in delay-4">
            <li class="workplace">
                <h3>Frontend Engineer <b>@</b> Corporate Tools</h3>
                <div class="work-data"><span class="duration">3yr 8mo</span> • <span class="work-type">Remote</span></div>
                <ul class="work-description">
                    <li data-tech="HTML,JavaScript,PHP,Vue.js">Large-scale custom form system with vue.js</li>
                    <li data-tech="Vue.js,Vuex,JavaScript">Application-wide state management with vuex</li>
                    <li data-tech="JavaScript,Ruby on Rails,PHP">Restful api integration & expansion</li>
                    <li data-tech="PHP,WordPress,MySQL">Fully custom php cms plugins</li>
                    <li data-tech="MySQL,PHP">MySQL queries and migrations</li>
                    <li>Cross-team collaboration and mentorship</li>
                    <li>Educational and technical documentation</li>
                    <li>Design collaboration</li>
                    <li>Agile workflow</li>
                    <li data-tech="Git">Git repository management</li>
                    <li>Collaborative code review and acceptance testing</li>
                </ul>
            </li>
            <li class="workplace">
                <h3>Frontend Engineer <b>@</b> Matchbox Design Group</h3>
                <div class="work-data"><span class="duration">3yr 10mo</span> • <span class="work-type">Remote</span></div>
                <ul class="work-description">
                    <li data-tech="HTML,CSS,JavaScript,PHP,WordPress,TailwindCSS,Vue.js">Agency-level fully custom WordPress themes</li>
                    <li data-tech="PHP,WordPress,JavaScript">Custom Gutenberg blocks</li>
                    <li data-tech="Laravel">Laravel Blade templating</li>
                    <li data-tech="PHP,Laravel,WordPress">Complex custom PHP features</li>
                    <li data-tech="CSS,TailwindCSS">Design systems with TailwindCSS</li>
                    <li data-tech="Laravel">Roots Bedrock and Sage</li>
                    <li>Design collaboration</li>
                    <li>Mentorship</li>
                    <li>Project management</li>
                    <li>Educational and technical documentation</li>
                    <li>Client-facing website support</li>
                </ul>
            </li>
            <li class="workplace">
                <h3>Adjunct Instructor (Web Development) <b>@</b> Maryville University</h3>
                <div class="work-data"><span class="duration">4yr+</span> • <span class="work-type">On-site</span> • <span>Ongoing</span></div>
                <ul class="work-description">
                    <li data-tech="HTML,CSS,JavaScript">Educating introductory coders in HTML, CSS, and JavaScript</li>
                    <li>Web design and UX/UI principle education</li>
                    <li>Figma best practices</li>
                    <li>Cirriculum design and application</li>
                    <li>Constructive learning feedback</li>
                    <li>Mentorship</li>
                </ul>
            </li>
        </ul>
    </section>
</main>