<header class="banner">
    <div class="container">
        <div class="header-content">
            <h1>Vanessa Sickles</h1>
            <p class="description">A <b>people-first,</b> multi-discipline <b>front-end engineer</b> with a keen <b>design sense</b> and a passion for developing <b>responsive, accessible,</b> and scalable user interfaces.</p>
            <div class="flex mt-4">
                <a class="btn btn-primary" href="">Projects</a>
                <a class="btn btn-primary" href="">{% icon "file" %} Resume</a>
                <a class="btn btn-primary" href="">{% icon "file" %} Contact</a>
            </div>
        </div>
    </div>
</header>