<div class="sidebar-column">
    <!-- to-do: skipnav -->
    <div class="intro box">
        <a href="/" class="logo dark:text-white relative">
            <h1><span class="text-blue dark:text-dark-blue">vanessa<br>sickles</span><br>.dev</h1>
        </a>
        <div class="links">
            <a aria-label="Visit my LinkedIn" href="linkedin">{% icon "linkedin" %} </a>
            <a aria-label="Visit my GitHub" href="github">{% icon "github" %}</a>
        </div>
        <p class="description dark:text-white">A <b>people-first,</b> multi-discipline <b>software engineer</b> with a keen <b>design sense</b> and a passion for developing <b>responsive, accessible,</b> and scalable user interfaces.</p>
    </div>
    <h2 class="mt-8 mb-2">Creating in...</h2>
    <section class="technologies box">
        <!-- to-do: aria skip and explanation for tech list -->
        <ul id="technologies-list">
            <li><button>HTML</button></li>
            <li><button>CSS</button></li>
            <li><button>JavaScript</button></li>
            <li><button>PHP</button></li>
            <li><button>Vue.js</button></li>
            <li><button>Vuex</button></li>
            <li><button>Pinia</button></li>
            <li><button>React</button></li>
            <li><button>TailwindCSS</button></li>
            <li><button>WordPress</button></li>
            <li><button>MySQL</button></li>
            <li><button>Git</button></li>
            <li><button>Ruby on Rails</button></li>
            <li><button>11ty</button></li>
            <li><button>Vite</button></li>
        </ul>
    </section>
</div>