<div class="sidebar-column">
    <!-- to-do: skipnav -->
    <div class="intro box">
        <h1>
            <a href="/" class="logo dark:text-white relative">
                <span class="text-blue dark:text-dark-blue">vanessa<br>sickles</span><br>.dev
            </a>
        </h1>
        
        <p class="description mt-16 dark:text-white text-lg leading-normal">A <b>people-first,</b> multi-discipline <b>software engineer</b> with a keen <b>design sense</b> and a passion for developing <b>responsive, accessible,</b> and scalable user interfaces.</p>
        <div class="links flex flex-col gap-2 items-start justify-start mt-4">
            <a href="https://www.linkedin.com/in/vanessasickles/" class="linkout" target="_blank">{% icon "linkedin" %} Contact me on LinkedIn</a>
            <a href="https://github.com/vanessasickles/" class="linkout" target="_blank">{% icon "github" %} Check out my GitHub</a>
        </div>
    </div>
    <h2 class="mt-8 mb-2">Creating in...</h2>
    <section class="technologies box">
        <!-- to-do: aria skip and explanation for tech list -->
        <ul id="technologies-list">
            <li><button type="button" aria-pressed="false">HTML</button></li>
            <li><button type="button" aria-pressed="false">CSS</button></li>
            <li><button type="button" aria-pressed="false">JavaScript</button></li>
            <li><button type="button" aria-pressed="false">PHP</button></li>
            <li><button type="button" aria-pressed="false">Vue.js</button></li>
            <li><button type="button" aria-pressed="false">Vuex</button></li>
            <li><button type="button" aria-pressed="false">Pinia</button></li>
            <li><button type="button" aria-pressed="false">React</button></li>
            <li><button type="button" aria-pressed="false">TailwindCSS</button></li>
            <li><button type="button" aria-pressed="false">WordPress</button></li>
            <li><button type="button" aria-pressed="false">MySQL</button></li>
            <li><button type="button" aria-pressed="false">Git</button></li>
            <li><button type="button" aria-pressed="false">Ruby on Rails</button></li>
            <li><button type="button" aria-pressed="false">11ty</button></li>
            <li><button type="button" aria-pressed="false">Vite</button></li>
        </ul>
    </section>
</div>