<div class="sidebar-column">
    <!-- to-do: skipnav -->
    <div class="intro box">
        <a href="/" class="logo dark:text-white relative">
            <h1><span class="text-blue dark:text-dark-blue">vanessa<br class="md:hidden xl:block">sickles</span><br class="md:hidden xl:block">.dev</h1>
        </a>
        <p class="description mt-4 xl:mt-16 md:max-w-3/4 lg:max-w-auto dark:text-white text-lg leading-normal">A <b>people-first,</b> multi-discipline <b>software engineer</b> with a keen <b>design sense</b> and a passion for developing <b>responsive, accessible,</b> and scalable user interfaces.</p>
        <div class="links flex flex-col sm:flex-row xl:flex-col gap-2 items-start justify-start mt-4">
            <a href="https://www.linkedin.com/in/vanessasickles/" class="linkout" target="_blank">{% icon "linkedin" %} Contact me on LinkedIn</a>
            <a href="https://github.com/vanessasickles/" class="linkout" target="_blank">{% icon "github" %} Check out my GitHub</a>
        </div>
    </div>
    <h2 class="mt-8 mb-2">Creating in...</h2>
    <section class="technologies box relative">
        <!-- to-do: aria skip and explanation for tech list -->
        <span id="technology-instructions" class="motion-safe:animate-bounce">
            {% icon "arrow-arch" %} <span class="text">interact to highlight <br>usage of this tech<span class="xl:hidden"> below</span>!</span>
        </span>
        <ul id="technologies-list">
            <li><button>HTML</button></li>
            <li><button>CSS</button></li>
            <li><button>JavaScript</button></li>
            <li><button>PHP</button></li>
            <li><button>Vue.js</button></li>
            <li><button>Vuex</button></li>
            <li><button>Pinia</button></li>
            <li><button>React</button></li>
            <li><button>TailwindCSS</button></li>
            <li><button>WordPress</button></li>
            <li><button>MySQL</button></li>
            <li><button>Git</button></li>
            <li><button>Ruby on Rails</button></li>
            <li><button>11ty</button></li>
            <li><button>Vite</button></li>
        </ul>
    </section>
</div>